<pep-page-layout>
    <ng-container pep-top-area>
        <div class="buttons-holder">
            <pep-button class="pep-spacing-element"
                class='pep-spacing-element'
                value = "{{'Update' | translate}}"
                styleType=strong
                styleStateType=system
                sizeType=md
                classNames='update'
                [disabled]='dialogData == undefined'
                iconPosition='end'
                [visible]='true'
                (buttonClick)='onUpdateButtonClick()'
            ></pep-button>
            <pep-button
                class='pep-spacing-element'
                value = "{{'Cancel' | translate }}"
                styleType=weak
                styleStateType=system
                sizeType=md
                classNames='cancel'
                [disabled]='false'
                iconPosition='end'
                [visible]='dialogRef != null'
                (buttonClick)='onCancelButtonClicked()'
            ></pep-button>
        </div>
    </ng-container>
    <ng-container pep-main-area>
        <pep-generic-form *ngIf="loadCompleted"
            [dataSource]="dataSource"
            [dataView]="dataView"
            (fieldClick)="onReferenceClicked($event)"
        ></pep-generic-form>
        <array-fields
            *ngFor="let dataViewOfArrayField of dataViewArrayFields"
            [dataViewOfArrayField] = "dataViewOfArrayField" >
        </array-fields>
        <!-- <draggable-card-fields
        cdkDrag 
        *ngFor="let card of viewsList"
        (removeClick)='onCardRemoveClick($event);'
        (updateCard) = "updateConfigurationField('viewsList', this.viewsList)"
        [card] = "card"
        [cdkDragDisabled]="false"
        style="cursor: grab;"
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)">
    </draggable-card-fields> -->
    </ng-container>
</pep-page-layout>
<pep-size-detector></pep-size-detector>








