
<ng-container pep-main-area>
    <div class="list">
        <pep-select *ngIf="dropDownOfViews.length > 0"
            class="buttons-holder"
            [value]="currentViewKey"
            label="select view"
            type="select"
            [mandatory]="false"
            xAlignment="left"
            [options]="dropDownOfViews"
            [showTitle]="true"
            (valueChange)="onViewChange($event)"
            [emptyOption]="false"
        ></pep-select>
        <pep-generic-list class="generic-list" 
            [showTopBar]="true"
            [dataSource]="datasource"
            [showSearch]="true"
            [title] = "title"
            [actions] = "actions"
            uuidMapping = 'Key'>
            <ng-container right-buttons>
                <!-- <pep-button
                    value="Add"
                    styleType="strong"
                    styleStateType="system"
                    sizeType="md"
                    classNames=""
                    [disabled]="!allowEdit"
                    iconPosition="end"
                    [visible]="true"
                    (buttonClick)="onAddClick()"
                ></pep-button> -->
                <!-- <pep-menu
                    classNames="pep-spacing-element"
                    iconName="system_menu"
                    type="action"
                    styleType="strong"
                    sizeType="md"
                    [items]="menuItems"
                    [disabled]="menuDisabled"
                    (menuItemClick)="onMenuItemClick($event)"
                ></pep-menu> -->
            </ng-container>
        </pep-generic-list>
    </div>  
</ng-container>

<!-- <pep-dimx #dimx [DIMXAddonUUID]="udcUUID" [DIMXResource]="resourceName" (DIMXProcessDone)='onDIMXProcessDone($event);'></pep-dimx> -->
