<pep-page-layout>
    <ng-container pep-main-area>
        <pep-generic-list class="generic-list" 
            [showTopBar]="true"
            [dataSource]="datasource"
            [showSearch]="true"
            [title] = "title"
            [inline] ="false"
            [actions] = "actions"
            uuidMapping = 'Key'>
            <ng-container right-buttons>
                <pep-menu
                    iconName="system_menu" 
                    type="action" 
                    styleType="weak" 
                    sizeType="sm" 
                    classNames=""
                    [items]="menuItems" 
                    [disabled]="false" 
                    (menuItemClick)="menuItemClick($event)">
                </pep-menu>
                <pep-select *ngIf="dropDownOfViews.length > 0"
                    class="buttons-holder"
                    [value]="currentViewKey"
                    label="select view"
                    type="select"
                    [mandatory]="false"
                    xAlignment="left"
                    [options]="dropDownOfViews"
                    [renderTitle]="false"
                    (valueChange)="onViewChange($event)"
                    [emptyOption]="false"
                ></pep-select>
                <pep-button
                    class='pep-spacing-element'
                    [value] = "addButtonTitle"
                    styleType=strong
                    styleStateType=system
                    sizeType=md
                    classNames='new'
                    [disabled]='false'
                    iconPosition='end'
                    [visible]='isAddButtonConfigured'
                    (buttonClick)='onNewButtonClicked()'
                ></pep-button>
            </ng-container>
        </pep-generic-list>
    </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>

<!-- <pep-dimx #dimx [DIMXAddonUUID]="udcUUID" [DIMXResource]="resourceName" (DIMXProcessDone)='onDIMXProcessDone($event);'></pep-dimx> -->
