<div class="card-editor-container">
    <div>
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div class="title-container">
        <span class="body-sm ellipsis">&nbsp;</span>
        <span class="body-sm color-link bold ellipsis" >{{card.selectedView.value}}</span>
    </div>
    <div class="actions" >
        <pep-button classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveClick();"></pep-button>
        <pep-button *ngIf="!card.showContent" sizeType="xs" iconName="arrow_down" (buttonClick)="onEditClick();"></pep-button>
        <pep-button *ngIf="card.showContent" sizeType="xs" iconName="arrow_up" (buttonClick)="onEditClick();"></pep-button>
    </div>
    <div class="editorCont" *ngIf = "card.showContent">
        <pep-select 
            [value]="card.selectedView.key"
            label="select view"
            type="select"
            [mandatory]="false"
            [disabled]="false"
            xAlignment="left"
            [options]="card.views"
            [showTitle]="true"
            (valueChange)="updateCardsList($event)"
            [emptyOption]="false"
        ></pep-select>

        <variables-mapping
            *ngIf="loadCompleted"
            >

        </variables-mapping>
    </div>
</div>