<div class="card-editor-container">
    <div>
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div class="title-container">
        <span class="body-sm ellipsis">&nbsp;</span>
        <span class="body-sm color-link bold ellipsis" >{{card.selectedView?.value || 'View'}}</span>
    </div>
    <div class="actions" >
        <pep-button classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveClick();"></pep-button>
        <pep-button *ngIf="!card.showContent" sizeType="xs" iconName="arrow_down" (buttonClick)="onEditClick();"></pep-button>
        <pep-button *ngIf="card.showContent" sizeType="xs" iconName="arrow_up" (buttonClick)="onEditClick();"></pep-button>
    </div>
    <div class="editorCont" *ngIf = "card.showContent">
        <pep-textbox
            [value]="card.title"
            [label]="'Title' | translate"
            type="text"
            (valueChange)="onTitleChanged($event)"
        ></pep-textbox>
        <pep-select
            [value] = 'card.selectedResource'
            [label] = "'Resource' | translate"
            type= 'select'
            [mandatory] = 'false'
            [disabled] = 'false'
            [options] = 'resourcesDropDown'
            (valueChange)='onResourceChanged($event)'>
        </pep-select>
        <pep-select 
            [value]="card.selectedView?.key"
            [label] = "'View' | translate"
            type="select"
            [mandatory]="false"
            [disabled]="viewsDropDown.length == 0"
            xAlignment="left"
            [options]="viewsDropDown"
            [showTitle]="true"
            (valueChange)="onViewChanged($event)"
            [emptyOption]="false"
        ></pep-select>
    </div>
</div>