<div class="variables-list">
    <pep-generic-list class="generic-list"
        [title] = "'InputVariables' | translate"
        [showTopBar]="true"
        [dataSource]="dataSource"
        [inline]="true"
        [selectionType]="'single'"
        [actions]="actions"
        [addPadding]="false"
        [showSearch]="false"
        [uuidMapping]="'Name'"
        (fieldClick)="onVariableNameClick($event)">
    
        <ng-container right-buttons>
            <pep-button
                class="pep-spacing-element"
                [sizeType]="'sm'"
                [value]="'Add' | translate"
                [styleType]="'strong'"
                (buttonClick)="onAddClick()"
            ></pep-button>
        </ng-container>
    </pep-generic-list>
</div>