<div class="header">
    <h4>Edit - {{view?.Name}}</h4>
    <div class="buttons-holder">
        <pep-button
        value="Back to list"
        styleType="weak"
        styleStateType="system"
        sizeType="md"
        classNames=""
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onBackToList()"
        ></pep-button>
        <pep-button
        value="Update"
        styleType="strong"
        styleStateType="system"
        sizeType="md"
        classNames=""
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onUpdate()"
        ></pep-button>
    </div>
</div>
<hr>
<mat-tab-group #tabgroup class="editor-tabs">
    <mat-tab label= "{{'TABS.GENERAL' | translate}}">
        <h5> {{'VIEWS_EDITOR_FIRST_LINE' | translate}}</h5>
        <pep-generic-form
        [dataSource]="dataSource"
        [dataView]="dataView" 
        ></pep-generic-form>

    </mat-tab>
</mat-tab-group>
