.header{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
html {
    body.inheritCursors * {
        cursor: inherit !important;
    }
}

.editor-tabs {
    height: 100%;
    
    ::ng-deep {
        .mat-tab-body-wrapper {
            overflow: unset;
            margin: 0;
            display: block;

            .mat-tab-body {
                &.mat-tab-body-active {
                    overflow: unset;

                    .mat-tab-body-content {
                        overflow: unset;
                        display: flex;
                        flex-direction: column;
                        padding-inline: 0;
                        row-gap: 1rem;

                    }
                }
            }
        }
    }
}