<pep-page-layout>
    <ng-container pep-top-area>   
        <div class="header">
            <h4>Edit - {{viewName}}</h4>
            <div class="buttons-holder">
                <pep-button
                value="Back to list"
                styleType="weak"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onBackToList()"
                ></pep-button>
                <pep-button
                value="Update"
                styleType="strong"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onUpdate()"
                ></pep-button>
            </div>
        </div>
        <hr>
    </ng-container>
    <ng-container pep-main-area>  
        <mat-tab-group #tabgroup class="editor-tabs">
            <mat-tab label= "{{'TABS.GENERAL' | translate}}">
                <h5> {{'VIEWS_EDITOR_FIRST_LINE' | translate}}</h5>
                <pep-generic-form
                [dataSource]="dataSource"
                [dataView]="dataView" 
                ></pep-generic-form>
            </mat-tab>
            <mat-tab *ngIf="loadCompleted" label = "{{'TABS.FORM' | translate}}">
                <ng-container *ngIf="!editCard; then cardsTemplate;else cardEditor" ></ng-container>
                <ng-template #cardsTemplate>
                    <app-profile-cards 
                        [dataViewContextName] = "dataViewContextName"
                        [resourceName] = "resourceName"
                        [dataViewsMap] = "dataViewsMap"
                        (editCardEvent) = "onEditCardEvent($event)">
                    </app-profile-cards>
                </ng-template>
                <ng-template #cardEditor>
                    <div class="buttons-holder">
                        <pep-button
                            class="buttons-holder"
                            value="Back"
                            styleType="weak"
                            styleStateType="system"
                            sizeType="md"
                            classNames=""
                            iconPosition="end"
                            [visible]="editCard"
                            (buttonClick)="backFromCardsTemplate()"
                        ></pep-button>
                        <pep-button
                            class="buttons-holder"
                            value="Save"
                            styleType="strong"
                            styleStateType="system"
                            sizeType="md"
                            classNames=""
                            iconPosition="end"
                            [visible]="editCard"
                            (buttonClick)="onSaveDataView()"
                        ></pep-button>
                    </div>
                    <div class="mapped-fields-container">
                        <div class="available-fields-side-area">
                            <pep-draggable-items [items]="sideCardsList" [title]="'Cards List'" titleType="with-bottom-border" titleSizeType="md"
                                itemPlaceholderType="weak" [showSearch]="true"  [dropAreaIds]="['emptyDropArea', 'mappedFields']" >
                            </pep-draggable-items>
                        </div>
                        <div pep-main-area class="mapped-fields-main-area">
                            <div class="mapped-fields-top-area pep-border-bottom"
                                [title]="('MAPPED_FIELDS_TITLE' | translate) + ' ' + ('MAPPED_FIELDS_TITLE_HINT' | translate)">
                                <span class="title-md">{{'MAPPED_FIELDS_TITLE' | translate}}&nbsp;</span>
                                <span class="color-dimmed">{{('MAPPED_FIELDS_TITLE_HINT' | translate)}}
                                </span>
                            </div>
            
                            <div class="fields-area-overflow">
                                <ng-container *ngIf="mappedFields === null || mappedFields.length === 0; then emptyTemplate; else notEmptyTemplate"></ng-container>
                                <ng-template #emptyTemplate>
                                    <div id="emptyDropArea" class="drop-field-here-area" cdkDropList (cdkDropListDropped)="onDropField($event)">
                                        <mat-icon class="pep-spacing-element">
                                            <pep-icon name="arrow_down_alt"></pep-icon>
                                        </mat-icon>
                                        <span class="body-sm ellipsis">
                                            {{ 'EMPTY_MAPPED_FIELD_AREA' | translate }}
                                        </span> 
                                    </div>
                                </ng-template>
                                <ng-template #notEmptyTemplate>
                                    <div id="mappedFields" class="mapped-fields-area" cdkDropList [cdkDropListData]="mappedFields" (cdkDropListDropped)="onDropField($event)">
                                        <app-mapped-field *ngFor="let mappedField of mappedFields; let i = index" 
                                        [mappedField] = "mappedField"
                                        [resourceFields] ="resourceFields"
                                        (removeClick)='onCardRemoveClick($event);'
                                        class="mapped-field-container" 
                                        cdkDrag (cdkDragStarted)="onDragStart($event)" 
                                        (cdkDragEnded)="onDragEnd($event)">
                                        </app-mapped-field>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                            
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</pep-page-layout>
