<div class="header">
    <h4>Edit - {{view?.Name}}</h4>
    <div class="buttons-holder">
        <pep-button
        value="{{'Back_To_List' | translate}}"
        styleType="weak"
        styleStateType="system"
        sizeType="md"
        classNames=""
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onBackToList()"
        ></pep-button>
        <pep-button
        value="{{'Update' | translate}}"
        styleType="strong"
        styleStateType="system"
        sizeType="md"
        classNames=""
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onUpdate()"
        ></pep-button>
    </div>
</div>
<hr>
<mat-tab-group #tabgroup class="editor-tabs">
    <mat-tab label= "Tabs.General' | translate">
        <h5> {{'Views_Editor_First_Line' | translate}}</h5>
        <pep-generic-form
        [dataSource]="dataSource"
        [dataView]="dataView" 
        ></pep-generic-form>
    </mat-tab>
</mat-tab-group>
