        <pep-generic-list class="generic-list" 
            [showTopBar]="true"
            [dataSource]="datasource"
            [actions] = "actions"
            [showSearch]="true"
            [title] = "title"
            uuidMapping = 'Key'>
            <ng-container right-buttons>
                <pep-button
                    value="{{'ADD' | translate}}"
                    styleType="strong"
                    styleStateType="system"
                    sizeType="md"
                    classNames=""
                    iconPosition="end"
                    [visible]="true"
                    (buttonClick)="onAddClick()"
                ></pep-button>
            </ng-container>
        </pep-generic-list>