<mat-tab-group #tabgroutp class="editor-tabs">
    <mat-tab label= "General">
        <div>
            <pep-select 
                    [value]="currentResourceName"
                    label="select a resource"
                    type="select"
                    mandatory = "true"
                    [options] = "resourcesNames"
                    (valueChange)="onResourceChanged($event)"
                ></pep-select>
                <pep-select 
                    [value]="currentEditMode"
                    label="choose an edit mode"
                    type="select"
                    mandatory = "true"
                    [options] = "editModeOptions"
                    (valueChange)="onEditModeChanged($event)"
            ></pep-select>
        </div>
    </mat-tab>
    <mat-tab label="Content">
        <h2><b>Fields</b></h2>
        <draggable-card-fields  
            *ngFor="let card of cardsList"
            [showActions] = "true" [isDraggable] = "true"
            (hostEvents)='onHostObjectChange($event)'
            (editClick)='onCardEditClick($event);'
            (removeClick)='onCardRemoveClick($event);'
            (fieldSelected) = 'onSelectField($event)'
            (insertWidth) = 'onWidthChange()'
            [configuration]="configuration"
            [field] ="card.name"
            [card] = "card"
            [items] = "resourceFieldsKeys"
            cdkDrag [cdkDragDisabled]="false"  style="cursor: grab;" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
        </draggable-card-fields>
        
    </mat-tab>
</mat-tab-group>