.editor-tabs {
    height: 100%;
    
    .add-content-button {
        margin-bottom: 1rem;
    }
    .add-content-button {
        margin-bottom: 1rem;
    }

    ::ng-deep {
        .mat-tab-header-pagination{
            display: none;
        }
        .mat-tab-labels {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .mat-tab-label {
                padding: 0 .75rem !important;
            }
        }
    }
}