<h2>Resource</h2>
<pep-select 
    [value]="resource"
    label="Resource"
    type="select"
    mandatory = "true"
    [options] = "resourcesNames"
    [showTitle]="true"
    (valueChange)="onResourceChanged($event)"
    [emptyOption]="false"
></pep-select>
<h3>Views</h3>
<p>{{'BlockEditorFirstLine' | translate}}</p>
<div cdkDropListGroup (cdkDropListDropped)="drop($event)"  cdkDropList>
    <draggable-card-fields
        cdkDrag 
        *ngFor="let card of viewsList"
        [showActions] = "true"
        [isDraggable] = "true"
        (hostEvents)='onHostObjectChange($event)'
        (editClick)='onCardEditClick($event);'
        (removeClick)='onCardRemoveClick($event);'
        (updateCard) = "updateConfigurationField('viewsList', this.viewsList)"
        (insertWidth) = 'onWidthChange()'
        [card] = "card"
        [cdkDragDisabled]="false"
        style="cursor: grab;"
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)">
    </draggable-card-fields>
</div>
<pep-button
    class="add-content-button"
    value="Add"
    styleType="regular"  
    (buttonClick)="addNewCardClick()" 
    [disabled]="!currentViews || currentViews.length == 0">
</pep-button>



