<h3>Views</h3>
<p>{{'BlockEditorFirstLine' | translate}}</p>
<div cdkDropListGroup (cdkDropListDropped)="drop($event)"  cdkDropList *ngIf="loadCompleted">
    <draggable-card-fields
        cdkDrag 
        *ngFor="let card of viewsList"
        (removeClick)='onCardRemoveClick($event);'
        (updateCard) = "updateConfigurationField('viewsList', this.viewsList)"
        [card] = "card"
        [cdkDragDisabled]="false"
        style="cursor: grab;"
        (cdkDragStarted)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)"
        [resources]="resources"
        [views]="views">
    </draggable-card-fields>
</div>
<pep-button
    class="add-content-button"
    value="Add"
    styleType="regular"  
    (buttonClick)="addNewCardClick()" 
    [disabled]="!loadCompleted || resources.length == 0">
</pep-button>



