<mat-tab-group #tabgroutp class="editor-tabs">
    <mat-tab label= "General">
        <div>
            <pep-select 
                [value]="resource?.Name"
                label="select a resource"
                type="select"
                mandatory = "true"
                [options] = "resourcesNames"
                [showTitle]="true"
                (valueChange)="onResourceChanged($event)"
                [emptyOption]="false"
            ></pep-select>
            <pep-textbox
                [value]="title"
                label="Title"
                type="text"
                mandatory="true"
                xAlignment="left"
                showTitle="true"
                (valueChange)="onTitleChanged($event)"
            ></pep-textbox>
            <h3>Menu Settings</h3>
            <pep-checkbox
                [value]="allowExport"
                label="Allow data export"
                type="checkbox"
                [mandatory]="false"
                [disabled]="false"
                xAlignment="left"
                [showTitle]="true"
                [renderTitle]="true"
                [visible]="true"
                (valueChange)="onAllowExportChange($event)"
            ></pep-checkbox>
            <pep-checkbox
                [value]="allowImport"
                label="Allow data import"
                type="checkbox"
                [mandatory]="false"
                [disabled]="false"
                xAlignment="left"
                [showTitle]="true"
                [renderTitle]="true"
                [visible]="true"
                (valueChange)="onAllowImportChange($event)"
            ></pep-checkbox>
        </div>
    </mat-tab>
    <mat-tab cdkDropListGroup label= "Content">
        <h3>Fields</h3>
        <div (cdkDropListDropped)="drop($event)"  cdkDropList> 
        <draggable-card-fields  
        *ngFor="let card of cardsList"
        [showActions] = "true" [isDraggable] = "true"
        (hostEvents)='onHostObjectChange($event)'
        (editClick)='onCardEditClick($event);'
        (removeClick)='onCardRemoveClick($event);'
        (fieldSelected) = 'onSelectField($event)'
        (insertWidth) = 'onWidthChange()'
        [configuration]="configuration"
        [field] ="card.name"
        [card] = "card"
        [items] = "getResourceFieldsKeys()"
        cdkDrag [cdkDragDisabled]="false"  style="cursor: grab;" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
        </draggable-card-fields>
    </div>
    <pep-button class="add-content-button" value="Add" styleType="regular"  
    (buttonClick)="addNewCardClick()"></pep-button>
    </mat-tab>
</mat-tab-group>

