<pep-page-layout >
    <!--Header-->
    <ng-container pep-top-area>
        <h2> {{'Views_And_Editors_Title' | translate}} </h2>
        <hr>
        <br>
    </ng-container>
    <!--Body-->
    <ng-container pep-main-area>
        <mat-tab-group #tabGroup class="editor-tabs" (selectedTabChange)="onTabChanged($event)">
            <mat-tab label= "{{'Tabs.Views' | translate}}">
                <app-table 
                    *ngIf="currentTab == 0"
                    name = "Views"
                    [service] = "viewsService"
                    editRoute = "">
                </app-table>
            </mat-tab>
            <mat-tab label= "{{'Tabs.Editors' | translate}}">
                <app-table 
                    *ngIf="currentTab == 1"
                    name = "Editors"
                    [service] ="editorsService"
                    editRoute="editor/">
                </app-table>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</pep-page-layout>
<pep-size-detector></pep-size-detector>



            
