<h2> {{'VIEWS_AND_EDITORS_TITLE' | translate}} </h2>
<hr>
<br>
<mat-tab-group #tabgroup class="editor-tabs">
    <mat-tab label= "{{'TABS.VIEWS' | translate}}">
        <app-table [items] ="items" [addCallback] = "addViewCB" [actions] ="viewActions"  [title] = "viewsTableTitle"></app-table>
    </mat-tab>
    <mat-tab label= "{{'TABS.EDITORS' | translate}}">
        <app-table [items] ="editorItems" [addCallback] = "addEditorCB" [actions] ="editorActions" [title] = "editorsTableTitle" ></app-table>
    </mat-tab>
</mat-tab-group>
            
