<pep-page-layout [addPadding]="true" [addPadding]="true">
    <ng-container pep-top-area>   
        <div class="header">
            <h4>Edit - {{currentView?.Name}}</h4>
            <div class="buttons-holder">
                <pep-button
                class="pep-spacing-element"
                value="Update"
                [disabled]="!isJsonFilterFileValid"
                styleType="strong"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onUpdate()"
                ></pep-button>
                <pep-button
                class="pep-spacing-element"
                value="Back to list"
                styleType="weak"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onBackToList()"
                ></pep-button>
            </div>
        </div>
        <hr>
    </ng-container>
    <ng-container pep-main-area>  
        <mat-tab-group #tabgroup class="views-tabs" (selectedTabChange)="onTabChanged($event)">
            <mat-tab label= "{{'Tabs.General' | translate}}" >
                <div *ngIf="currentTab == 0">                    
                    <h5> {{'ViewsEditorFirstLine' | translate}}</h5>
                    <pep-generic-form
                    [dataSource]="dataSource"
                    [dataView]="dataView" 
                    ></pep-generic-form>
                    <views-filter
                        *ngIf="resourceFields != undefined && currentView != undefined"
                        [filter]="initialFilter"
                        (jsonFilterFileEvent)="onJsonFilterFileChanged($event)"
                        (jsonValidationEvent)="onJsonFileValidationChanged($event)"
                        [resourceFields]="resourceFields">
                    </views-filter>
                </div>
            </mat-tab>
            <!-- Form Tab  -->
            <mat-tab label = "{{'Tabs.Form' | translate}}"  *ngIf="loadCompleted">
                <app-views-form-tab *ngIf="currentTab == 1"
                    [key] ="viewKey"
                    [resourceName]="dataSource.Resource">
                </app-views-form-tab>
            </mat-tab>
            <!--Menu Tab-->
            <mat-tab label="{{'Menu' | translate}}"  *ngIf="loadCompleted" >
                <app-menu-tab
                *ngIf="currentTab == 2 "
                [key] = "viewKey">
                </app-menu-tab>
            </mat-tab>
            <!--Line Menu Tab-->
            <mat-tab label="{{'LineMenu' | translate}}" *ngIf="loadCompleted">
                <app-line-menu-tab
                *ngIf="currentTab == 3"
                [key] = "viewKey">
                </app-line-menu-tab>
            </mat-tab>
            <!-- Events-Tab -->
            <mat-tab label="{{'Events' | translate}}" *ngIf="loadCompleted">
                <views-events-tab
                    [isDrillDown]="currentView.isFirstFieldDrillDown"
                    (drillDownChangedEvent)="onIsDrillDownChanged($event)"
                    *ngIf="currentTab == 4"
                ></views-events-tab>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</pep-page-layout>
<pep-size-detector></pep-size-detector>