<pep-page-layout [addPadding]="true" [addPadding]="true">
    <ng-container pep-top-area>   
        <div class="header">
            <h4>Edit - {{currentView?.Name}}</h4>
            <div class="buttons-holder">
                <pep-button
                class="pep-spacing-element"
                value="Update"
                styleType="strong"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onUpdate()"
                ></pep-button>
                <pep-button
                class="pep-spacing-element"
                value="Back to list"
                styleType="weak"
                styleStateType="system"
                sizeType="md"
                classNames=""
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onBackToList()"
                ></pep-button>
            </div>
        </div>
        <hr>
    </ng-container>
    <ng-container pep-main-area>  
        <mat-tab-group #tabgroup class="views-tabs">
            <mat-tab label= "{{'Tabs.General' | translate}}">
                <h5> {{'ViewsEditorFirstLine' | translate}}</h5>
                <pep-generic-form
                [dataSource]="dataSource"
                [dataView]="dataView" 
                ></pep-generic-form>
            </mat-tab>
            <mat-tab label = "{{'Tabs.Form' | translate}}">
                <app-views-form-tab *ngIf="loadCompleted == true"
                    [key] ="viewKey"
                    [resourceName]="dataSource.Resource">
                </app-views-form-tab>
            </mat-tab>
            <!--Menu Tab-->
            <mat-tab label="{{'Menu' | translate}}">
                <app-menu-tab
                [key] = "viewKey">
                </app-menu-tab>
            </mat-tab>
            <!--Line Menu Tab-->
            <mat-tab label="{{'LineMenu' | translate}}">
                <app-line-menu-tab
                [key] = "viewKey">
                </app-line-menu-tab>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</pep-page-layout>
<pep-size-detector></pep-size-detector>