<pep-generic-form
    [dataSource]="item"
    [dataView]="dataView" 
    (valueChange)="onValueChanged($event)"
></pep-generic-form>
<div class="buttons-holder">         
    <pep-button
        class="buttons"
        value = "Cancel"
        styleType="weak"
        styleStateType="system"
        sizeType="md"
        classNames="save"
        [disabled]="false"
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onCancelClick()"
    ></pep-button>
    <pep-button
        class="buttons"
        value = "Save"
        styleType="strong"
        styleStateType="system"
        sizeType="md"
        classNames="save"
        [disabled]="false"
        iconPosition="end"
        [visible]="true"
        (buttonClick)="onSaveButtonClick()"
    ></pep-button>
</div>


